$fopts: (
   wrap:            wrap,
   columns:         12,
   direction:       row,
   align-items:     flex-start,
   align-content:   center,
   justify-content: flex-start,
   gutter-position: split,
   gutters:         0.25,
   order:           0,
   flex-grow:       0,
   flex-shrink:     0,
   align-self:      auto,
) !global;

$directionMap: (
  row: "row",
  column: "column",
  row-reverse: "row-reverse",
  column-reverse: "column-reverse",
);

$alignSelfMap: (
  top: "flex-start",
  bottom: "flex-end",
  middle: "center",
  baseline: "baseline",
  fill: "stretch",
);

$growMap: (
  no-grow: 0,
  normal: 1,
  double: 2,
  triple: 3
);

$shrinkMap: (
  no-shrink: 0,
  shrink: 1
);

$orderMap: (
  first: -1,
  last: 1
);
$wrapMap: (
  wrap: "wrap",
  nowrap: "nowrap",
  wrap-reverse: "wrap-reverse",
);

$justifyMap: (
  end:     "flex-end",
  start:   "flex-start",
  around:  "space-around",
  center:  "center",
  between: "space-between",
);

$alignMap: (
  top:      "flex-start",
  fill:     "stretch",
  middle:   "center",
  bottom:   "flex-end",
  baseline: "baseline",
);

$contentMap: (
  content-top:     "flex-start",
  content-fill:    "stretch",
  content-middle:  "center",
  content-bottom:  "flex-end",
  content-around:  "space-around",
  content-between: "space-between",
);


